a.none:hover{ text-decoration: none; color: Red; }
a.none:link { text-decoration: none;  color: Red;  }
a.none:visited { text-decoration: none; color: Red; }
a.nonesilver:hover{ text-decoration: none; color: #999999; }
a.nonesilver:link { text-decoration: none;  color: #708090;  }
a.nonesilver:visited { text-decoration: none; color: #708090; }
a.none-FIN:hover {text-decoration: none; color: #666666;}
a.none-FIN:link {text-decoration: none; color: #666666;}
a.none-FIN:visited {text-decoration: none; color: #666666;}
a.none-Book:hover {text-decoration: none; color: #FFFFFF;}
a.none-Book:link {text-decoration: none; color: #FFFFFF;}
a.none-Book:visited {text-decoration: none; color: #FFFFFF;}
a.BookTitle:hover {text-decoration: none; color: #FF0000;}
a.BookTitle:link {text-decoration: none; color: #006600;}
a.BookTitle:visited {text-decoration: none; color: #006600;}
a:hover {
	color: Red;
}
a:visited {
color: #6495ED;
}
body {
	font-size: 12pt;
	color: #003366;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
table {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}
span {
	font-size: 11px;
}
select {
	background: #F5F5F5;
	font-size: 11px;
	}
input {
	background: #F5F5F5;
	font-size: 14px;
	font-weight: bold;
}
button {
	border: thin;
	background-color: #FFE4C4;
	font-size: 12px;
	background: Aqua;
	font-weight: bold;
}
.red {
	font-size: 12px;
	color: #FF0000;
}
.white {
	font-size: 14px;
	color: #FFFFFF;
}
.bigred {
	font-size: 16px;
	color: #FF0000;
}
.t-c-yellow {
	font-size: 16px;
	color: #FFFFFF;
	background-color: #FFCC66;
}
.t-c-red {
	font-size: 11px;
	color: #FFFFFF;
	background-color: #FF99CC;
}
.t-c-green {
	font-size: 16px;
	color: #FFFFFF;
	background-color: #339966;
}
.t-b-blue {
	color: #666666;
	background-color: #CCCCCC;
}
.bigblue {
	font-size: 16px;
	color: #993333;
}
.t-b-blueReal {

	color: #FFFFFF;
	background-color: #0099FF;
}
.blue {
	color: #0000FF;
}
.green {

	color: #006600;
}
.pink {
	color: #FF00FF;
}
.Yellow {
	color: #FF9900;
}
.darkred {
	color: #FF00FF;
	font-style: italic;
	font-weight: normal;
}
.t-t-FIN {
	color: #666666;
	background-color: #99CCFF;
}
.t-t-FINSli {
	color: #666666;
	background-color: #CCFFFF;
}
.t-b-midautumn {
	color: #FFFFFF;
	background-color: #FF9900;
}
.strongred {
	font-size: 20px;
	color: #FF0000;
	font-weight: bold;
}
.strangsilver {
	font-size: 12px;
	font-weight: bold;
	color: #999999;
}
.t-c-bluryellow {
	font-size: 11px;
	color: #996600;
	background-color: #FFFFCC;
}
.d_link {
	text-decoration: underline;
}
.today {
	background-color: #CCCCCC;
}
table.tablelist {
	line-height: 20px;
}
table.Tabledot {
	border: thin dashed #0000FF;
}
tr.Trdot {
	border: thin dashed #0000FF;
}
table.incent {
	line-height: 15pt;
}
.t-c-GrayLight {
	font-size: 20px;
	background-color: #E5E5E5;
	font-weight: bold;
}
.t-t-Borrow {
	color:#FFFFFF;
	background-color:#73A2EE;
}.FINBig {
	font-size: 18px;
	color: #000000;
	font-weight: bold;
}
.t-b-abort {

	color: #FFFFFF;
	background-color: #CC9999;
}
.t-t-DarkBlue {

	color: #FFFFFF;
	background-color: #000066;
}
span {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
input {
	font-size: 12px;
	font-weight: bold;
}
select{
font-size: 12px;
}
