body {
	font-size: 11pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
table {
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
button {
	border: thin;
	background-color: #FFE4C4;
	font-size: 14px;
	background: Aqua;
	font-weight: bold;
}
.today {
	background-color: #CCCCCC;
}
.t-c-GrayLight {
	font-size: 14px;
	font-weight: bold;
}
.t-c-greenCopy {
	font-size: 14px;
	color: #FFFFFF;
	background-color: #339966;
}
.t-t-Borrow {
	color:#FFFFFF;
	background-color:#73A2EE;
}
input {
	font-size: 11px;
}